.Title {
    margin: 205px 0px 250px 0px;
    display: flex;
    justify-content: space-between;

    


    p {
        max-width: 636px;
        text-align: center;
        
        font-family: Poppins;
        font-size: 58px;
        font-weight: 700;
        line-height: 73px;
        letter-spacing: -1px;
        text-align: left;
        position: relative;
            span{
                position: absolute;
                top: -6px;
                
            }
        

    }
    img{
        position: absolute;
        height: 366px;
        left: 1023px;
        top: 337px;
    }
}