.Header {
    margin-top: 41px;
    display: flex;

    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    align-items: center;


}


.Header_nav {




    ul {

        display: flex;
        list-style: none;
        margin-left: 306px;
        padding: 0px;
        margin-top: 15px;
        


        li {
            list-style-type: none;

        }

        a {
            color: black;
            position: relative;
        }

    }
}

.About {
    margin-left: 68px;
}

.Tech_Stack {
    margin-left: 64px;
}

.Projects_li {
    margin-left: 56px;
}

.Contact {
    margin-left: 50px;
}

.Header_socials {
    display: flex;
    gap: 20px;
    margin-left: 51px;
}