.Projects {

    margin: 240px 0px 96px 0;
    

}

.Projects_name {


    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    margin-left: 500px;
    


}

.Projects_context {
    margin-top: 49px;

    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 425px;
    

}


.Projects_container {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    opacity: 0px;
    position: relative;

    box-shadow: 2px 2px 100px 0px #00000033;



    img {
        width: 100%;

    }

}

.Project_containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 617px);
    gap: 15px;
    justify-items: center;
    max-width: 1250px;
}

.Project_containers_content {
    margin-left: 28px;
    margin-right: 31px;

}

.Project_container_name {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    margin-top: 25px;
    color: #000000;
    ;


}

.Project_container_context {
    margin-top: 16px;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;


}

.Project_container_stack {
    margin-top: 12px;

    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;




}

.tech_items {

    font-size: 14px;
    font-weight: 300;



}

.Project_container_link {
    margin-top: 21px;
    margin-right: 22px;
    margin-left: -2px;
    text-decoration: underline;

    display: flex;
    justify-content: space-between;
   

    a {
        color: black;

        font-family: Poppins;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        display: inline-flex; 
        align-items: center; 
        
        
       
        

        

    }

    img {
        width: 20px;
        margin-right: 12px;
        
    }
}