.Projects_name {
    margin-top: 206px;

    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;

}

.Projects_context {
    margin-top: 49px;

    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;

}


.Projects_container {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    opacity: 0px;
    position: relative;

    box-shadow: 2px 2px 100px 0px #00000033;



    img {
        width: 100%;

    }

}

.Project_containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    justify-items: center;
}

.Project_containers_content {
    margin-left: 28px;
}

.Project_container_name {
    font-size: 28px;
    font-weight: 500;
    line-height: 26px;

    margin-top: 27px;

}

.Project_container_context {
    margin-top: 17px;

    font-family: Poppins;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;

}

.Project_container_stack {
    margin-top: 12px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;

}

.Project_container_link {
    margin-top: 21px;

    a {
        color: black;
        margin-right: 48px;
    }

    img {
        width: 20px;
        margin-right: 3px;
    }
}